@charset "utf-8";
.index-top-bar{padding: 10px 4% 10px;background-color: rgba(255,255,255,0.8);
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: flex;}
.index-top-bar .s-input-select{-webkit-box-flex: 1; -moz-box-flex: 1;	flex:1;margin: 0 8px;}

.index-top-bar .searchForm {
    height:0.53rem;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background-color:#ededed;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-transform: translate(0, 0) translateZ(0);
	width:100%;
}

.index-top-bar .text-area {
    margin-left:0.42rem;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.index-top-bar .text {
    height:0.46rem;
	font-size:0.24rem;
    width: 100%;
    border: none;
    -webkit-appearance: none;
    background: transparent;
    outline: none;
    color: #717171;
    font-size:0.29rem;
}
.index-top-bar .btn-sub {
    width: 0.3rem;
    height:0.3rem;
    margin: 9px 11px 0 0;
    background:url(../images/search.png) no-repeat 0 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    border: none;
    text-indent: -999px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}

.index-top-bar .top-bar-cart {
    width: 0.60rem;
    height:0.41rem;
	margin-top:4px;
    display: block;
    overflow: hidden;
	-webkit-box-flex:0 0 0.6rem; -moz-box-flex:0 0 0.6rem;flex:0 0 0.6rem;	
}
.index-top-bar .icons-cart{position:relative;}
.icons-cart {
    background:url(../images/cart.png) no-repeat;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    width: 0.45rem;
    height:0.41rem;
}

 /* 焦点图 */
.m-slider{margin:0 auto;position:relative;}
.m-slider-con{overflow:hidden;}
.m-slider-item:not(:first-child){display:none;}
.m-slider-item img{width:100%;}
.m-slider-nav{width:auto;height:10px;position:absolute;bottom:10px;left:50%;text-align:right;}
.m-slider-nav span{display:inline-block;width:10px;height:10px;background-color:#d0d0d0;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px;margin:0 2px;font: 0/0 a;color:transparent;vertical-align:top;}
.m-slider-nav .current{background-color:#f9bb14;}

/* 菜单选择 */
.m-menu{padding-top:0.2rem}
.m-labels {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
	padding-bottom:0.25rem;
}
.m-labels a {
    display: block;
    width: 33.333%;
    text-align: center;
    color: #666;
    font-size: 0.2rem;
    background-color: #fefefe;
}
.m-labels a::before {
    margin: 0 auto 0.14rem;
    background-size: 0.93rem!important;
}
.m-labels a:before {
    content: "";
    display: block;
    width: 0.93rem;
    height: 0.93rem;
    clear: both;
}
.m-labels .ico-fruit:before{ background-image:url(../images/fruit.png); }
.m-labels .ico-girlfriend:before{ background-image:url(../images/girlfriend.png); }
.m-labels .ico-parents:before{ background-image:url(../images/parents.png); }
.m-labels .ico-player:before{ background-image:url(../images/player.png); }
.m-labels .ico-activity:before{ background-image:url(../images/activity.png); }
.m-labels .ico-money:before{ background-image:url(../images/money.png); }

.m-index-th{height:0.6rem;line-height:0.6rem;font-size:0.25rem;color:#ff4f01;background:url(../images/fire.png) center   left no-repeat;background-size:0.36rem;padding-left:0.43rem}
.list-pic li{width:100%;margin-bottom:0.2rem;overflow:hidden}
.list-pic li a{position:relative;display:block}
.list-pic li img{width:100%;}
.list-pic span{width:95%;height:0.5rem;display:block;position:absolute;bottom:0;left:0;line-height:0.5rem;padding:0 0.47rem;background-color: rgba(0,0,0,0.5);color:#fff;font-size:0.2rem}

/* 火爆活动 */
.toolbar{height:0.4rem;line-height:0.4rem;background:#eee;padding:0 0.1rem;font-size:0.18rem}
.toolbar .time {float:left;}
.toolbar .time em{background-color:#8b8b8b;color:#fff;padding:0.02rem 0.05rem;margin:0 0.05rem;
-webkit-border-radius: 5px;
    -moz-border-radius:5px;
    -ms-border-radius: 5px;
    border-radius:5px;
}
.toolbar .count{float:right;color:#8b8b8b}
.toolbar em{color:#f83130}