@charset "utf-8";
/* CSS Document */

.changepass{

	background-color:#f8f8f8;
}
.big{
	margin-top:15px;
	 width:100%;
	 border-top:1px solid #e6e6e6;
	 border-bottom:1px solid #e6e6e6;
	 background-color:#FFF;
}
	 
.changpassword{
	width:90%;
	margin:0;
	height:88px;
	line-height:88px;
	border-bottom:1px solid #e6e6e6;

}
.changpassword .left{
	width:15%;
	float:left;
}
.changpassword .left img{
	margin-left:35%;
}
.changpasslast{
	border:0;
}
.changpassword input{
	height:88px;
	padding:0;
	margin:0;
	width:85%;
	height:87px;
	float:left;
	color:#afafaf;
	border:none;
	font-size:16px;
	border:0;
}
.queren{
	width:100%;
	height:160px;

}
.queren button{
    width:90%;
	height:60px;
	background-color:#d6d6d6;
	border:0;
	border-radius:5px;
	margin-left:5%;
	font-size:24px;
	color:#FFF;
	margin-top:31px;
}
	