@charset "utf-8";
/* CSS Document */

.koubei{
	width:90%;
	min-height:130px;
	margin:auto;
	border-bottom:2px dashed #e6e6e6;
}
.koubei p{
	padding:0;
	margin:0;
	color:#000;
	font-size:16px;
}
.koubei>p{
	clear:both;
}
.koubei .top{
	width:100%;

	line-height:80px;
	margin-top:24px;
	margin-bottom:10px;
}
.koubei .top img{
	width:20%;
	float:left;
	margin-right:5%;
}