@charset "utf-8";
/* CSS Document */
.login{
	background-color:#f8f8f8;
}


.num{
	margin-top:16px;
	width:100%;
	height:84px;
	line-height:84px;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #f9f9f9;
	background-color:#FFF;
}
.mima{
	width:100%;
	height:84px;
	line-height:84px;
	border-bottom:1px solid #f9f9f9;
	background-color:#FFF;
}

.num .left,.mima .left{
	width:15%;
	height:82px;
	float:left;
}
	
.mima .left img{
	width:45%;
	margin-left:36%;
}
.num .left img{
	width:40%;
	margin-left:40%;
}

input{
	padding:0;
	margin:0;
	width:85%;
	height:82px;
	float:left;
	color:#afafaf;
	border:none;
	font-size:16px;
}

	




.bottom{
	padding:0;
	margin:0;
	width:100%;
	height:200px;
	background-color:#f8f8f8;
	
}
.bottom .wenz{
	padding:0;
	margin:0;
	width:100%;
	height:60px;
	line-height:60px;
	color:#ff7f02;
	font-size:16px;
}
.bottom .wenz p{
	margin-left:5%;
}
.bottom button{
	width:90%;
	height:65px;
	border:0;
	border-radius:5px;
	margin-left:5%;
	font-size:24px;
	color:#FFF;
}
.bottom>p{
	padding:0;
	margin:0;
	width:90%;
	color:#040404;
	font-size:16px;
	margin-top:30px;
	margin-left:5%;
	margin-right:5%;
}
.bottom>p>span{
	float:right;
}

