@charset "utf-8";
/* CSS Document */

/*************注册**************/
.chongzhi{
	
	background-color:#f8f8f8;
}
	
.Phonenum .left{
	
	width:15%;
	height:98px;
	float:left;
}
.Picpassword .left,.Textpassword .left,.password .left{
	width:15%;
	height:88px;
	float:left;
}
	
.Picpassword .left img,.Textpassword .left img,.password .left img{
	width:45%;
	margin-left:36%;
}
.Phonenum .left img{
	width:40%;
	margin-left:40%;
}

input{
	padding:0;
	margin:0;
	width:54%;
	height:98px;
	float:left;
	color:#afafaf;
	border:none;
	font-size:16px;
}
.Picpassword input,.Textpassword input,.password input{
	height:88px;
}
	
.Phonenum{
	margin-top:15px;
	width:100%;
	height:100px;
	line-height:100px;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #f9f9f9;
	background-color:#FFF;
}
.Picpassword,.Textpassword{
	width:100%;
	height:90px;
	line-height:90px;
	border-bottom:1px solid #f9f9f9;
	background-color:#FFF;
}
.password{
	width:100%;
	height:90px;
	line-height:90px;
	border-bottom:1px solid #e6e6e6;
	background-color:#FFF;
}

.Picpassword>img:nth-of-type(1){
	width:16%;
}
.Picpassword>img:nth-of-type(2){
	width:5%;
	margin-left:5%;
}
.Textpassword>img{
	width:28%;
}

.Reg p{
	margin:0px 0px 22px 5%;
	color:#ff7f02;
	font-size:16px;
}
.Reg{
	padding:0;
	margin:0;
	width:100%;
	height:100px;
	padding-top:10px;
}
.Reg button{
    width:90%;
	height:65px;
	background-color:#d6d6d6;
	border:0;
	border-radius:5px;
	margin-left:5%;
	font-size:24px;
	color:#FFF;
}